@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Tajawal";
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.1;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.h-screen-minus-80 {
  height: calc(100vh - 4rem);
}

input:-webkit-autofill {
  @apply bg-primary200 text-white border border-primary100;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  @apply bg-primary200 text-white border-blue200;
}